.cartWrapper {
    width: 100%;
    height: auto;
}

.cartWrapper .grid {
    position: relative;
    grid-template-columns: 2fr 1fr;
}

.cartItem {
    background-color: #fff;
    border-radius: 10px;
}
.addQty {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.removeQty {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.addQty:hover {
    background-color: #45a049;
}

.removeQty:hover {
    background-color: #d32f2f;
}

.itemControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.item {
    border-bottom: solid 1px #f2f2f3;
}

.item .grid {
    grid-template-columns: 1fr 2fr 1fr;
}

.itemImage {
    height: 100px;
    width: 100px;
}

.itemControl {
    text-align: center;
}

.remove {
    width: 100%;
    background-color: var(--blue);
    color: #fff;
    border-radius: 5px;
    padding: 5px 0;
    cursor: pointer;
}

.payment {
    align-self: start;
    background-color: #fff;
}

.summary {
    border-top: dotted 3px #f2f2f3;
}

.addQty,
.removeQty {
    display: inline !important;
    height: 40px;
    width: 40px;
    border: solid 1px #f2f2f3;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
    font-size: 1.5rem;
    transition: all 0.3s;
}

.addQty:hover,
.removeQty:hover {
    color: #fff;
    background-color: var(--blue);
}

.summary .flex {
    justify-content: space-between;
}

.confirmBtn {
    width: 60%;
    margin: 0 20%;
    background: var(--blue);
    color: #fff;
    border: transparent;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}

.confirmPay {
    height: max-content;
    text-align: center;
}

.redirect {
    display: block;
    background-color: var(--blue);
    padding: 5px 30px;
    text-align: center;
    color: #fff;
}

.error {
    width: 100%;
    height: 100%;
}

.error>* {
    position: absolute;
    width: max-content;
    height: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px 50px;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--blue);
    box-shadow: rgb(229, 229, 230) 0px 15px 15px -5px;
}